body {    
    width: 100vw; 
    height: 100vh;
    background-color: black;
    background-image: url("../img/justin2.png");
    background-size: cover;

}
@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }
}